body {
    font-family: Arial, sans-serif;
    background-color: rgb(171, 203, 196);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(9, 74, 54);
}

form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
input[type="range"],
input[type="text"],
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: rgb(20, 125, 104);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: rgb(99, 198, 175);
    color: rgb(20, 125, 104);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

span {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    color: red;
}

input[type="range"] {
    width: calc(100% - 20px);
    margin-left: 10px;
}